/*Background CSS*/
body {
    margin : 0 0 0 0;
}
#background {
    top : -50px;
    position : fixed;
    min-width : 1000px;
}
#background img{
    width : 100%;
    height : auto;
    /* Chrome, Safari, Opera */
    -webkit-filter: blur(4px) grayscale(100%) opacity(50%);
    filter: blur(4px) grayscale(100%) opacity(50%);


    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;

      /*-webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
            transition: all 1s ease;*/
}

#background img:hover {
    /* Chrome, Safari, Opera */
    /*-webkit-filter: saturate(2) opacity(100%);
    filter: saturate(2) opacity(100%);*/
    -webkit-filter: none;
    filter: none;

    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
      /*-webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
            transition: all 1s ease;*/
}

.animation-images {
    position : absolute
}

/*End Background CSS*/

/*Page CSS*/
#wall {
    position : fixed;
    width : 60%;
    height : 100%;
    background-color : white;
    opacity : .5;
    left : 50%;
    transform : translate(-50%, 0);
}

/*End Page CSS*/
